body {
    padding:0px;
    margin:0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/img/DSC_0075.JPG") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}
#middle{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
    color: white;
    padding-bottom: 10vh;
}

#middle h1{
    color: white;
    font-size: 60px;
}

#middle table{
    width: 25%;
    margin: 5vh auto;
}

.social{
    color: white;
    text-align: center;
    border-radius: 50%;
    margin: 0px 10px;
}

.social:hover{
    color: red;
    cursor: pointer;
}
/* ph5e278854cbe7a */

